[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
bootstrap-flask = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-moment = "*"
flask-ckeditor = "*"
flask-dropzone = "*"
flask-avatar = "*"
bosonnlp = "*"
flask-mail = "*"
pyjwt = "*"
pymongo = "*"
flask-uploads = "*"
pymysql = "*"
gunicorn = "*"
faker = "*"
pycrypto = "*"
lxml-4-3-2 = "*"
lxml = "==4.3.2"

[requires]
python_version = "3.6"
