{% extends "base.html" %}
{% from "bootstrap/form.html" import render_form, render_field %}

{% block title %}重置邮箱{% endblock title %}

{% block content %}
    <div class="auth">
        <div class="auth-form">
        <form action="" method="post" class="form" role="form">
            {{ form.hidden_tag() }}
            {{ render_field(form.email) }}
            <input class="btn btn-success w-100 mt-1" id="submit" name="submit" type="submit" value="确认">
        </form>
        </div>
    </div>
{% endblock content %}
